/* CSS Reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-family: 'Noto Sans', sans-serif;
  cursor: default;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

p, li, span, a, label, input, textarea {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
  color: #333333;
}

li {
  list-style-position: inside;
}

/* Page Sections */

.page-container {
  width: 90%;
  margin: auto;
}

/* Tablet & Laptop View */
@media (min-width: 768px) {
  .page-container {
    width: 80%;
    margin: auto;
  }
}

/* Desktop View */
@media (min-width: 1200px) {
  .page-container {
    max-width: 1200px;
    margin: auto;
  }
}

article {
  margin: 2.5rem 0;
}
/* Links */

a {
  text-decoration: none;
  color: blue;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: lightskyblue;
}

/* Buttons */

button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0;
  margin: 1rem 0;
  width: fit-content;
  background-color: gainsboro;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: lightskyblue;
}

/* Forms */

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border: 1px solid lightgrey;
  padding: 0.5rem 1rem;
  max-width: 400px;
  margin: 0.5rem 0;
}